body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    background: url('./assets/background.avif') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(38, 19, 93, 0);
    color: #fff;
    padding: 1em;
    text-align: center;
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: 64px;
}


h1 {
    font-size: 3.5em;
    top: 300px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 0.5em 0;
    width: 100%;
    margin-bottom: 50px;
}


nav a:hover {
    background-color: #ffdd57;
}

main {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    align-items: flex-start
}

section {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}


.container {
    display: flex;
    align-items: center;
    width: 100%;

}

.progress-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    width: 300px;
    justify-content: right;
}

.progress-bar {
    width: 10px;
    height: 60vh;
    position: relative;
    background: linear-gradient(0deg, #234035, #0C1EB3, #01062c);
    margin-right: 100px;
    margin-left: 20px;
    border-radius: 15px;
    outline: 1px solid #ab9adf;
}

.rocket {
    position: absolute;
    width: 40px;
    transition: bottom 0.3s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
}

.rocket.animate {
    animation: wobble 1s ease-in-out;
}

@keyframes wobble {

    0%,
    100% {
        transform: translateX(-50%) rotate(0deg);
    }

    25% {
        transform: translateX(-50%) rotate(-15deg);
    }

    50% {
        transform: translateX(-50%) rotate(15deg);
    }

    75% {
        transform: translateX(-50%) rotate(-10deg);
    }
}

.stages {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.stage {
    margin: 10px 0;
    font-size: 14px;
}

.current-stage {
    font-weight: bold;
    color: #ffdd57;
}


.quiz-content {
    display: flex;
    flex-direction: row;
    padding: 20px;
    overflow-y: auto;
    align-content: center;
    padding-top: 0;
    position: relative;
    z-index: 1;
    justify-content: center;
    width: 900px;
    height: 550px;
}

.question-container {
    display: flex;
    position: relative;
    padding: 20px;
    margin: 20px;
    width: 550px;
    height: 300px;
    align-items: center;
    flex-direction: column;

}

.question-background {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('./assets/question.svg') no-repeat center center;
    background-size: contain;
    z-index: -1;
    justify-content: center;
}

.error {
    color: red;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}




.answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100xpx;
    padding-top: 50px;
    width: 900px;
    height: 100%;
}

button {
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: url('./assets/standard.svg') no-repeat center center;
    background-size: contain;
    height: 100px;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    color: #fff;
}

button:hover:not(.is-correct):not(.is-incorrect) {
    background: url('./assets/hover.svg') no-repeat center center;
    background-size: contain;
    color: #000000;

}


.is-correct {
    background: url('./assets/correct.svg') no-repeat center center;
    background-size: contain;
}

.is-incorrect {
    background: url('./assets/incorrect.svg') no-repeat center center;
    background-size: contain;
}


footer {
    background-color: rgba(38, 19, 93, 0);
    color: #fff;
    text-align: center;
    padding: 1em;
}