body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    background: url('./assets/background.avif') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(38, 19, 93, 0);
    color: #fff;
    padding: 1em;
    text-align: center;
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: 64px;
}


h1 {
    font-size: 3.5em;

}

nav {
    background-color: #0a1ca2b0;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 0.5em 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

section {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

:root {
    --rocket-start: 95%;
}

.container {
    display: flex;
}

.progress-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.progress-bar {
    width: 10px;
    height: 60vh;
    position: relative;
    background: linear-gradient(0deg, #234035, #0C1EB3, #01062c);
    margin-right: 100px;
    margin-left: 20px;
    border-radius: 15px;
    outline: 1px solid #ab9adf;
}

.rocket {
    position: absolute;
    width: 40px;
    transition: bottom 0.3s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
}

.rocket.animate {
    animation: wobble 1s ease-in-out;
}

@keyframes wobble {

    0%,
    100% {
        transform: translateX(-50%) rotate(0deg);
    }

    25% {
        transform: translateX(-50%) rotate(-15deg);
    }

    50% {
        transform: translateX(-50%) rotate(15deg);
    }

    75% {
        transform: translateX(-50%) rotate(-10deg);
    }
}

.stages {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.stage {
    margin: 10px 0;
    font-size: 14px;
}

.current-stage {
    font-weight: bold;
    color: #ffdd57;
}


.quiz-content {
    flex-grow: 1;
    align-self: auto;
}


.error {
    color: red;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}


.answers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}


button {
    position: relative;
    width: 100%;
    padding: 20px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(180deg, #050D4D, #0C1EB3, #050D4D);
    color: #fff;
    font-size: 16px;
    clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    border: none;
    outline: none;
}

button .label {
    font-weight: bold;
    margin-right: 10px;
}


button::after {
    content: '';
    position: absolute;
    top: +2px;
    /* Adjust to match border width */
    right: +2px;
    /* Adjust to match border width */
    bottom: +2px;
    /* Adjust to match border width */
    left: +2px;
    /* Adjust to match border width */
    background: none;
    border: 0px solid #ab9adf;
    clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    /* Match button shape */
    z-index: -1;
    /* Place it behind the button */
    border-radius: 8px;
    /* Ensure the border radius matches */
}


button:not(.is-correct):not(.is-incorrect):hover {
    background: linear-gradient(180deg, #db8f49, #dccb31, #db8f49);
    transform: scale(1.05);
}

.is-correct {
    background: linear-gradient(45deg, #9de2ad, #2f9e49);
    /* Light green gradient */
}

.is-correct::before {
    border-color: #2f9e49;
    /* Adjust border color to match */
}

.is-incorrect {
    background: linear-gradient(45deg, #c0797f, #ed2a3e);
    /* Light red gradient */
}

.is-incorrect::before {
    border-color: #ed2a3e;
    /* Adjust border color to match */
}


footer {
    background-color: rgba(38, 19, 93, 0);
    color: #fff;
    text-align: center;
    padding: 1em;
}